.App {
  text-align: center;
}

div {
  width: 90%;
  margin: auto;
  overflow: auto;
  color: #008888;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  div {
    width: 95%;
  }
}
