.navbar > .active {
  font-style: oblique;
}

li {
  list-style-type: none;
  float: left;
  width: 25%;
  padding: 15px 0;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  li {
    padding: 7px 0;
    font-size: 14px;
  }
}

li a {
  display: inline-block;
}

/* =============================== Header ====================== */

.header-button {
  width: 100%;
  position: relative;
  overflow: hidden;
  color: #008888;
  font-weight: 700;
  text-decoration: none;
  padding: 5px 30px;
  margin: 0 2px;
}

.header-button::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 2px;
  left: 2px;
  right: 0px;
  background: #ffffff;
  z-index: -1;
}

.header-button::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #00cccc;
  transform: rotate(0deg) translate(-75%, 50%);
  transform-origin: top left;
  transition: transform 0.3s;
  z-index: -2;
}

.header-button:hover::after {
  transform: rotate(0) translate(0, 0);
}

/* ==================== DropDown ====================*/

.dropdown-content {
  display: block;
  position: absolute;
  width: 200px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  display: none;
  text-align: left;
}

.dropdown:hover .dropdown-content a {
  display: block;
}

/* ================== DropDown Content Item ==================*/

.dropdown-content-item {
  position: relative;
  overflow: hidden;
  color: #00ccaa;
  font-weight: 700;
  text-decoration: none;
  padding: 5px 30px;
  margin: 0;
}

.dropdown-content-item::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background: #ffffff;
  z-index: -1;
}

.dropdown-content-item::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #00dddd;
  transform: rotate(0deg) translate(-75%, 50%);
  transform-origin: top left;
  transition: transform 0.3s;
  z-index: -2;
}

.dropdown-content-item:hover::after {
  transform: rotate(0) translate(0, 0);
}
