div {
  color: #008888;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}

img {
  padding-top: 15px;
  position: relative;
  width: 100%;
  display: block; /* remove extra space below image */
  margin-left: auto; /* to center an image  */
  margin-right: auto; /* to center an image */
}
