.project-component {
  width: 100%;
}

.description {
  font-size: 15px;
  text-transform: none;
  text-align: justify;
}

.product {
  font-weight: bold;
  font-size: 17px;
}

@media only screen and (max-width: 800px) {
  .description {
    font-size: 12px;
  }

  .product {
    font-size: 14px;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
